/* =========================================================
  ESTILOS GENERALES
  ========================================================= */
.partners{text-align: center;}
.partners h2{color: var(--brand-dark);text-transform: uppercase;margin-bottom: 1em;}
.partners .partners_list{display: flex;list-style: none;justify-content: space-around;margin: 0;padding: 0;}
.partners_list li{display: flex;align-items: center;}
.partners_list img{width: 100%;}
/* =========================================================
  RESPONSIVE: MÓVILES / TABLET (≤ 959px)
  ========================================================= */
@media (max-width:959px){
    .partners .partners_list{flex-wrap: wrap;}
    .partners .partners_list{gap: 1em;}
    .partners_list li{width: 30%;}
}

/* =========================================================
  RESPONSIVE: ESCRITORIO (≥ 960px)
  ========================================================= */
@media (min-width:960px){
    .partners{padding-top: 4.5em;}
    .partners .partners_list{gap: 2em;}
    .partners_list li{width: 18%;}
}
